<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 
  
  <header>
  
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" style="background-image: url('/assets/image/ddd.jpg');opacity: 0.9;">
          <div class="carousel-caption">
            <br>
            <h5 style="opacity: 1;">Un petit geste, un grand impact. Faites un don..</h5>
        
          </div>
        </div>
        <div class="carousel-item" style="background-image: url('/assets/image/donss.jpg') ;opacity: 0.7;">
          <div class="carousel-caption">
          </div>
        </div>
        
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </header>
 
  <!-- about section -->
  <section class="about_section layout_padding">
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                à propos de nous
              </h2>
              <img src="images/plug.png" alt="">
            </div>
            <p>
            
L'association de dons est une entité philanthropique qui joue un rôle crucial dans le soutien et l'amélioration de diverses causes sociales, humanitaires, environnementales ou culturelles. 
Chaque donateur qui se joint à nous devient un maillon essentiel de cette chaîne de solidarité, contribuant à 
éclairer l'avenir des générations à venir.
            </p>
            <button class="button-34" role="button">rejoindre nous </button>

          </div>
        </div>
        <div class="col-md-6">
          <div class="img_container">
            <div class="img-box b1">
              <img src="/assets/image/g.jpg" alt="" />
            </div>
            <div class="img-box b2">
              <img src="/assets/image/gg.jpg" alt="" />
            </div>
          </div>

        </div>

      </div>
    </div>
    <br>
    <br>
    <br>
  </section>

  <!-- end about section -->
  <!-- Page Content -->
  <section class="py-5">
    <div class="container">
      
    </div>
  </section>
 <!-- blog section -->

 <section class="blog_section layout_padding">
    
    <div class="container">
      <div class="heading_container">
        <div class="container">
            <h1 class="fw-light">Notre Objectif de site</h1>
            
          </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="box">
            <div class="img-box">
              <img src="/assets/image/z.jpg" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Donnez des Vêtements pour Éclairer des Vies
              </h5>
              <p>
                Chaque vêtement que vous donnez a le pouvoir d'apporter chaleur, 
      dignité et espoir à quelqu'un dans le besoin.  Alors que vous triez vos armoires, pensez à l'impact que
      vos vêtements peuvent avoir. 
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box">
            <div class="img-box">
              <img src="/assets/image/meub.jpg" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Donnez une Nouvelle Vie à vos Meubles et Objets Inutilisés
              </h5>
              <p>
                Lorsque vous donnez des meubles et des objets que vous n'utilisez plus
      , vous offrez bien plus que des biens matériels. Vous partagez l'espoir, 
      la chaleur et la possibilité de nouvelles expériences.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
    
<!-- blog section -->

<section class="blog_section layout_padding">
    <div class="container">
      <div class="heading_container">
       
        <img src="images/plug.png" alt="">
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="box">
            <div class="img-box">
              <img src="/assets/image/jeux5.png" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Offrez des Sourires en Faisant Don de Jouets
              </h5>
              <p>
                Chaque enfant mérite de connaître le rire contagieux, les éclats 
      de joie et les aventures imaginaires que les jouets apportent.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="box">
            <div class="img-box">
              <img src="/assets/image/w.jpg" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Donnez une Nouvelle Vie à vos Meubles et Objets Inutilisés
              </h5>
              <p>
                Lorsque vous donnez des meubles et des objets que vous n'utilisez plus
      , vous offrez bien plus que des biens matériels. Vous partagez l'espoir, 
      la chaleur et la possibilité de nouvelles expériences.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <br>
    <br>
  </section>
    

</body>
</html>